<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="CARGADORES"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">CARGADORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button
            [routerLink]="['/', 'cargadores', 'alta']"
            color="secondary"
          >
            CREAR NUEVO
          </ion-button>
        </ion-buttons>
        <ion-card-title color="secondary"> VISTA GENERAL </ion-card-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size-xs="0.1"> </ion-col>

        <ion-col size="4">
          <ion-card-title
            class="ion-margin-top"
            type="submit"
            color="secondary"
          >
            Buscar
          </ion-card-title>
          <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
        </ion-col>

        <ion-col size="2.5">
          <ion-card-title
            class="ion-margin-top"
            type="submit"
            color="secondary"
          >
            Nombre
          </ion-card-title>
          <ion-item>
            <ion-input type="text"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-card-title
            class="ion-margin-top"
            type="submit"
            color="secondary"
          >
            Empresa
          </ion-card-title>
          <ion-list>
            <ion-item>
              <ion-select placeholder="Seleccionar estado">
                <ion-select-option value="Activo">Activo</ion-select-option>
                <ion-select-option value="Inactivo">Inactivo</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col>
          <ion-card-title
            class="ion-margin-top"
            type="submit"
            color="secondary"
          >
          </ion-card-title>
          <ion-button class="ion-margin-top ion-margin-bottom" type="submit">
            CONFIRMAR
          </ion-button>
        </ion-col>

        <ion-col size-xs="0.1"> </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-content>
    <ion-card *ngFor="let cargador of cargadores">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="0.1"> </ion-col>

          <ion-col size-xs="2">
            <ion-card-subtitle
              class="ion-margin-top ion-margin-bottom"
              type="submit"
              color="secondary"
            >
              {{cargador.rfc}}
            </ion-card-subtitle>
          </ion-col>

          <ion-col>
            <ion-card-subtitle
              class="ion-margin-top ion-margin-bottom"
              type="submit"
              color="secondary"
            >
              {{cargador.nombre}} {{cargador.apellido}}
            </ion-card-subtitle>
          </ion-col>

          <ion-col>
            <ion-card-subtitle
              class="ion-margin-top ion-margin-bottom"
              type="submit"
              color="secondary"
            >
              {{cargador.telefono}}
            </ion-card-subtitle>
          </ion-col>

          <ion-col size-xs="0.1"> </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>
</ion-content>
