<ion-header>
  <ion-toolbar>
    <ion-title color="secondary">CARGADORES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="secondary">
      ALTA
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary"> INFORMACION </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            RFC
          </ion-label>
          <ion-input> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            CLAVE
          </ion-label> <ion-input type="number">
          </ion-input>
        </ion-item>
 
      </ion-card-content>
      

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary"> DETALLES PERSONAL </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            NOMBRE
          </ion-label>
          <ion-input> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            APELLIDO PATERNO
          </ion-label> <ion-input>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            APELLIDO MATERNO
          </ion-label> <ion-input>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            TELEFONO
          </ion-label> 
          <ion-input type="number"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            ORIGEN
          </ion-label> 
          <ion-input> </ion-input>
        </ion-item>
 
      </ion-card-content>
      
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary"> FOTO </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            FOTO
          </ion-label>
          <ion-input type="text"> </ion-input>
        </ion-item>
 
      </ion-card-content>
      
    </ion-card>
    
    <ion-button color="secondary">
      CERRAR
    </ion-button>
    <ion-button color="secondary">
      CONFIRMAR
    </ion-button>

  </ion-card-content>
</ion-card>
</ion-content>
