<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()" color="secondary ">
        <ion-icon name="close-circle-outline">

        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">PRECARGA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary"> LOCALIZACIÓN </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> ID </ion-label>
              <ion-input [(ngModel)]="precarga.id" disabled>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> EMPRESA </ion-label>
              <ion-input [(ngModel)]="precarga.empresa" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> CLIENTE </ion-label>
              <ion-input [(ngModel)]="precarga.cliente" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> TELEFONO </ion-label>
              <ion-input [(ngModel)]="precarga.telefono" disabled>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary"> DETALLES </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> CAJAS CHICAS </ion-label>
              <ion-input type="number" [(ngModel)]="precarga.cajas_chicas" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> CAJAS MEDIANAS </ion-label>
              <ion-input type="number" [(ngModel)]="precarga.cajas_medianas" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> CAJAS GRANDES </ion-label>
              <ion-input type="number" [(ngModel)]="precarga.cajas_grandes" disabled></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> MUEBLES </ion-label>
              <ion-input type="number" [(ngModel)]="precarga.muebles" disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary"> DETALLES </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> ORIGEN </ion-label>
              <ion-input disabled> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label position="floating"> DESTINO </ion-label>
              <ion-input disabled> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-margin-top ion-margin-bottom">
            <ion-item>
              <ion-label>Fecha y Hora</ion-label>
              <ion-datetime [(ngModel)]="fecha" disabled [yearValues]="precarga.fecha.split('-')[0]">
                <span slot="time-label">Hora</span>
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button
    class=" ion-margin-top"
    color="dark"
    fill="outline"
    (click)="cerrar()"
    >CERRAR
  </ion-button>
      <ion-button (click)="abrirRegistroFlete()" class="ion-float-right ion-margin-top" type="submit" color="light">
        Registrar Flete
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>