<!--
  ion-input tipo texto para mostrar tranporte
  ion-select para mostrar cargadores
  con botón agregar
  en un sliding || con opción de eliminar
    lista de cargadores motrando el nombredel cargador
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-circle" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary"> INFORMACIÓN DE PAQUETES </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-top ion-margin-bottom">
    <ion-col size="3">
      <ion-item>
        <!---MOSTRAR TRANSPORTES-->
        <ion-label position="floating">TRANSPORTE</ion-label>
        <ion-input [(ngModel)]="transporteFlete.transporte" disabled>
        </ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-select [(ngModel)]="cargador" placeholder="SELECCIONE UN CARGADOR">
          <ion-select-option
            *ngFor="let cargador of cargadoresEmpresa"
            [value]="cargador.rfc"
            >{{ cargador.nombre }} {{ cargador.apellido }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="agregar()" color="secondary"> AGREGAR </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let cargador of cargadores">
          <ion-item>
            <ion-label>
              {{ cargador.nombre }} {{ cargador.apellido }}
            </ion-label>
            <ion-label>{{ cargador.telefono }}</ion-label>
            <ion-img src="{{ api }}/{{ cargador.foto }}"></ion-img>
          </ion-item>
          <ion-item-options side="end" (ionSwipe)="eliminar(cargador)">
            <ion-item-option expandable color="danger">
              <ion-icon name="trash-outline"> </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
