<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="transportes"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">TRANSPORTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title color="secondary">
      ALTA
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary">
          INFORMACION
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            MATRICULA
          </ion-label>
          <ion-input>

          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            CAPACIDAD
          </ion-label>
          <ion-input type="number">
            
          </ion-input>

        </ion-item>

        <ion-item>
          <ion-label>
            EMPRESA
          </ion-label>
          <ion-input>            
          </ion-input>

        </ion-item>

        <ion-item>
          <ion-label>
            ESTADO
          </ion-label>
          <ion-select>            
          </ion-select>
        </ion-item>
        
      </ion-card-content>
      
      <ion-button color="secondary">
        CERRAR
      </ion-button>
      <ion-button color="secondary">
        CONFIRMAR
      </ion-button>

    </ion-card>

  </ion-card-content>
</ion-card>
</ion-content>
