<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="fletes">
        <ion-icon name="close-circle" color="secondary"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">PRECARGAS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let precarga of precargas">
    <ion-item-sliding #itemSliding>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-xl="3">
              <ion-card-title
                class="ion-margin-top ion-margin-bottom"
                type="submit"
                color="secondary"
              >
                {{ precarga.id }}
              </ion-card-title>
            </ion-col>

            <ion-col size-xs="12" size-xl="3">
              <ion-card-title
                class="ion-margin-top ion-margin-bottom"
                type="submit"
                color="secondary"
              >
                {{ precarga.cliente }}
              </ion-card-title>
            </ion-col>

            <ion-col
              size-xs="12"
              size-xl="3"
              class="ion-margin-top ion-margin-bottom"
              type="submitssss"
              color="secondary"
            >
              <ion-item>
                <ion-button (click)="verPosicion(precarga.origen)"
                  >ORIGEN</ion-button
                >
                <ion-button (click)="verPosicion(precarga.destino)"
                  >DESTINO</ion-button
                >
              </ion-item>
            </ion-col>

            <ion-col size-xs="12" size-xl="3">
              <ion-card-title
                class="ion-margin-top ion-margin-bottom"
                type="submit"
                color="secondary"
              >
                {{ precarga.fecha }}
              </ion-card-title>
            </ion-col>
          </ion-row>
          <ion-item-options
            side="end"
            (ionSwipe)="eliminar(precarga); itemSliding.close()"
          >
            <ion-item-option expandable color="danger">
              <ion-icon name="trash-outline"> </ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options
            side="start"
            (ionSwipe)="abrirDetalle(precarga); itemSliding.close()"
          >
            <ion-item-option expandable color="success">
              <ion-icon name="eye"> </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-card>
</ion-content>
