<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-circle" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="secondary">FLETES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary"> ALTA </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> LOCALIZACIÓN </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> ID </ion-label>
                  <ion-input [(ngModel)]="detalleFlete.id"> </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> ESTADO </ion-label>
                  <ion-select> </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> DETALLES </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> EMPRESA </ion-label>
                  <ion-input [(ngModel)]="detalleFlete.empresa"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> CLIENTE </ion-label>
                  <ion-input [(ngModel)]="detalleFlete.cliente"> </ion-input>
                </ion-item>
              </ion-col>
              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> TELEFONO </ion-label>
                  <ion-input [(ngModel)]="detalleFlete.telefono"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-margin-top ion-margin-bottom" size-md="4">
                <ion-item>
                  <ion-label position="floating"> DESTINO </ion-label>
                  <ion-input> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col class="ion-margin-top ion-margin-bottom" size-md="4">
                <ion-item>
                  <ion-label position="floating"> ORIGEN </ion-label>
                  <ion-input> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-card-content>
                  <ion-item id="open-modal2">
                    <ion-label>Fecha</ion-label>
                    <ion-note>{{ fecha | date: "medium" }}</ion-note>
                  </ion-item>

                  <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'">
                    <ng-template>
                      <ion-datetime
                        [(ngModel)]="fecha"
                        size="cover"
                        [showDefaultButtons]="true"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Transporte</ion-label>
            <ion-select [(ngModel)]="transporteFlete.transporte">
              <ion-select-option value="">
                SELECCIONA UN TRANSPORTE
              </ion-select-option>
              <ion-select-option
                *ngFor="let transporte of transportes"
                [value]="transporte.matricula"
              >
                {{ transporte.matricula }} - Capacidad: ({{
                  transporte.capacidad
                }})</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating"> Cargadores </ion-label>
            <ion-select
              [(ngModel)]="transporteFlete.cargadores"
              [multiple]="true"
              placeholder="SELECCIONA LOS CARGADORES"
            >
              <ion-select-option
                *ngFor="let cargador of cargadores"
                [value]="cargador.rfc"
              >
                {{ cargador.nombre }} {{ cargador.apellido }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>

        <ion-card-content>
          <ion-button
            class="ion-float-right ion-margin-top"
            fill="solid"
            (click)="registrarFlete()"
          >
            CONFIRMAR
          </ion-button>
        </ion-card-content>
        
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
