<!--CREACIÓN/ALTA DE PAQUETES-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-circle" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">ITEM</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-card-title *ngIf="!editando" color="secondary">
          ALTA
        </ion-card-title>
        <ion-card-title *ngIf="editando" color="secondary">
          ACTUALIZACION
        </ion-card-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-header>
      <ion-toolbar>
        <ion-card-title color="secondary"> IDENTIFICACIÓN </ion-card-title>
      </ion-toolbar>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="0.1"> </ion-col>
        <ion-col size="5">
          <ion-label position="floatin">ID</ion-label>
          <ion-list>
            <ion-item>
              <ion-input
                placeholder="Ingresar ID de Paquete"
                [(ngModel)]="item.id"
                disabled
                [value]="id"
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="5">
          <ion-label position="floating">ID OBJETO</ion-label>
          <ion-list>
            <ion-item>
              <ion-input
                placeholder="Ingresar ID del objeto"
                [(ngModel)]="item.id_item"
                disabled
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- SIGUIENTE HEADER EN EL MISMO GRID -->

      <ion-card-header>
        <ion-toolbar>
          <ion-card-title color="secondary"> DETALLES </ion-card-title>
        </ion-toolbar>
      </ion-card-header>

      <ion-row>
        <ion-col size-xs="0.1"> </ion-col>
        <ion-col size="5">
          <ion-label position="floating">NOMBRE</ion-label>
          <ion-list>
            <ion-item>
              <ion-input
                placeholder="Nombre del item"
                [(ngModel)]="item.item"
                [disabled]="!agregando && !editando"
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="3">
          <ion-label position="floating">ANCHO(cm)</ion-label>
          <ion-list>
            <ion-item>
              <ion-input
                placeholder="Ingrese Ancho"
                [(ngModel)]="item.ancho_item"
                [disabled]="!agregando && !editando"
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="3">
          <ion-label position="floating">ALTO(cm)</ion-label>
          <ion-list>
            <ion-item>
              <ion-input
                placeholder="Ingrese Altura"
                [(ngModel)]="item.alto_item"
                [disabled]="!agregando && !editando"
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-button (click)="tomarFotografia()" *ngIf="agregando || editando">
          Foto
        </ion-button>
      </ion-row>

      <ion-row>
        <img *ngIf="foto; else elseBlock" src="{{ api }}/{{ foto }}" />
        <ng-template #elseBlock>
          <img *ngIf="item.foto" src="{{ api }}/{{ item.foto }}" />
        </ng-template>
      </ion-row>

      <!--BOTONES-->
      <ion-col>
        <ion-card-title class="ion-margin-top" type="submit" color="secondary">
        </ion-card-title>
        <ion-button
          (click)="agregarItem()"
          class="ion-margin-top ion-margin-bottom"
          type="submit"
          *ngIf="agregando || editando"
        >
          CONFIRMAR
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="cerrar()"> CERRAR </ion-button>
      </ion-col>
      <ion-col size-xs="0.1"> </ion-col>
    </ion-grid>
  </ion-card>
</ion-content>
