<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="paquetes"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">PAQUETES</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <!-- COLOCAR UN ICONO PARA LIMPIAR-->
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button [routerLink]="['/', 'paquetes', 'alta']" color="secondary">
                CREAR NUEVO
              </ion-button>
            </ion-buttons>
            <ion-card-title color="secondary"> VISTA GENERAL </ion-card-title>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label> ESTADO </ion-label>
            <ion-select> </ion-select>
            <!--RELLENAR COMBO -->
          </ion-item>

          <ion-button class="ion-float-right ion-margin-top" type="submit">
            CONFIRMAR
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <!--TABLA = TARJETAS-->
  <ion-card>
    <ion-card-header>
      <ion-card-title> NOMBRE </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-img> </ion-img>
      </ion-item>
      <ion-item>
        <ion-label> CANTIDAD </ion-label>
        <ion-input disabled value="10"> </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
