<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="paquetes"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">PAQUETES</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="verInformacion()">
        VER CARGADORES-TRANPORTES
      </ion-button>
      <ion-button color="secondary" (click)="altaPaquete()">
        CREAR NUEVO
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <!-- COLOCAR UN ICONO PARA LIMPIAR-->
    <ion-searchbar animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--TABLA = TARJETAS-->
  <ion-card>
    <ion-card-header>
      <ion-card-title> NOMBRE </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-img> </ion-img>
      </ion-item>
      <ion-item>
        <ion-label> CANTIDAD </ion-label>
        <ion-input disabled value="10"> </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
